.home-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}
.product-info h1 {
  margin: 0;
}

.product-info span {
  color: #bb41ff;
}
.product-info button {
  border: none;
  padding: 10px 20px;
  background-color: #db1afe;
  color: white;
  margin-top: 20px;
  cursor: pointer;
}
.product-info button:hover {
  background-color: #bb41ff;
}

.product-img img {
  max-width: 600px;
}

.reviews-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.see-all-btn {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}
.see-all-btn button {
  border: none;
  padding: 14px 40px;
  background-color: #db1afe;
  color: white;
  cursor: pointer;
}
.see-all-btn button:hover {
  background-color: #bb41ff;
}
