.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: black;
  margin-left: 20px;
}

nav a:hover {
  color: #db1afe;
}
